@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');


body {
    /* Height value to be checked */
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f4f8;
}

.navActiveItem {
    fill: #2c2c2c;
}

.navInactiveItem {
    fill: #8f8f8f;
}

.cursorPointer {
    cursor: pointer;
}